# Node modules for both frontend and backend
frontend/node_modules/
backend/node_modules/

# Logs
*.log
npm-debug.log*

# Environment variables
.env

# Build output
frontend/build/
frontend/dist/
backend/build/
backend/dist/
*.tgz

# OS-specific files
.DS_Store
Thumbs.db

# IDE specific files
.vscode/
.idea/
*.swp